body{
    margin:0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
a.nav-bar-collapsible{
    color: grey;
}
nav#nav-bar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    top:0;
    background-color: rgb(0, 0, 77); 
    width:100%;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 3%;
    z-index: 1;
    flex-grow: 1;
    margin: 0;
    padding-top:3%;
    padding-bottom: 3%;
    font-family: metropolis;
    font-size: larger;
}
#nav-bar-collapsible{
    display: flex;
    font-size: large;
    padding-right: 1rem;
    flex-grow: 1;
    justify-content: space-between;
}
#first-page-button{
    display: inline;
}
#master-div-demos{
    margin: 0px 5%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
#container{
    display: flex;
    justify-content: center;
}
#demo{
    display: flex inline-block;
    padding: 20px;
    margin:10px;

}
#demo img{
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) ;
    max-width: 120%;
}
div.demos{
    margin: 50px;
}
#demo img:hover{
    position: relative;
    bottom:3px;
}
h4{
    text-align: center;
}
li{
    display: inline;
}
li a:hover{
    color: rgb(198, 186, 186);
}
ul{
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
div.upper-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a#nav-bar-bold-text{
    text-decoration: none;
    font-size: large;
    color:white;
} 
div#container-nav-bar-bold-text{
    margin: 2% 0;
    padding-right:15%;
}
h1#page1-h1{
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
    line-height: 1.15;
}
p#page1-p{
    font-size: 1.15rem;
    color: rgb(255,255,255,0.5);
    line-height: 1.2;
    font-weight: 500;
}
#small-text{
    padding: 6px 12px;
    background-color: rgb(191,214,298);
    color: rgb(0,92,247);
    border-radius: 160px;
    font-size: 12px;
}
#just-below{
    font-weight: 500;
}
a.teal-button{
    background-color: rgb(29, 161, 6);
    border-top: 1rem;
    padding: 0.5rem;
    border-bottom: 0.9rem;
    border-radius: 20% ;
    color:white;
    margin-bottom: 1.5rem;
    font-size: 0.75rem;
    margin-top: 1rem;
    font-weight: 700;
}
a.teal-button:hover{
    background-color:  rgb(21, 107, 6);
    position: relative;
    bottom: 3px;
}
div#page1-below-nav-bar{
    display: flex;
    padding: 0 7%;
    margin: 0 8%;
}
#page1-documentation-link{
    color: white;
    margin: 3%;
    display: relative;
    left:10%;
}
#page1-documentation-link:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.455);

}
h3{
    color: rgb(104,114,129) ;
}
.upper-text{
    margin: 50px 20px;
    padding: 0px 130px;
    text-align: center;
}
header{
    padding: 150px 0;
    background-image: linear-gradient( to bottom right,#0061f2,rgba(105,0,199,.8));
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
section.second-page{
    padding: 96px 0;
}
#right-arrow1{
    width:0.9rem;
    position: relative;
    top: 4px;
    border-radius: 100%;
}
div#bold-text{
    margin-top: 0.9rem;
}
a :visited{
    text-decoration: none;
}

a#nav-bar1 :hover{
    text-decoration: solid;
} 
/*div.demos{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}*/
img{
    width:250px;
}
div.columns{
    display: flex;
    margin: 2rem;
    justify-content: center;
    gap:1rem;
}
div#table a{
    display: block;
    padding: 0.25rem 1rem;
    border: 1rem grey;
}
#table{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2) ;
}
#page1-image{
    width: 500px;
    max-width: 130%;
}
div#sep{
    padding: 1px;
    border:1px black;
    width:150px;
}
#upper-text5{
    text-align: center;
    padding: 10px 15%;
    margin: 10px 7%;
}
#lower-content{
    font-size: large;
    padding:50px;
    text-align: center;
    flex-wrap: wrap;
}
#heavy-text5{
    font-size: 100px;
    color:grey;
}
.fifth-page{
    background-color: rgb(208, 203, 203);
}
#smalltext5{
    color: rgb(105, 105, 105);
    text-align: center;
    font-size: larger;
}
div#button-page5{
    display: flex;
    justify-content: center;
}

#button-page5 button{
    padding: 15px;
    background-color: rgb(0,92,247);
    color: white;
    font-weight: 700;
    border-radius: 20%;
}
#Upper-section{
    display: flex;
    justify-content: space-around;
    gap:2%;
    flex-wrap: wrap;
    color: rgb(107, 104, 104);
    font-weight: 700;
}
.last-page a:hover{
    text-decoration: underline;

}
.last-page a{
    color: rgb(111, 105, 105);
    font-weight: 400;
    display: inline-block;
    width:fit-content;
}
#upper-text-and-social-media-images, #TECHNICAL,#PRODUCT,#INCLUDES,#LEGAL{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.sixth-page{
    padding: 5%;
}
/*styling the copyright and stufff*/
#abc{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    flex-wrap: wrap;
}

#icon-only-when-collapsed{
    display: none;
}
#column1,column2,column3{
    min-width:30%;
}
button#button-page5:hover{
    background-color:rgb(7, 21, 44) ;
    position: relative;
    bottom:3px;
}


/* MEDIA QUERIES*/

/*tablets*/
@media screen and (max-width: 880px){
    #page1-image{
        display: none;
    }
    #icon-only-when-collapsed{
     display: block;
    }
    div#nav-bar-collapsible{
        display: none;
    }
    nav{
        display: flex;
        background-color: darkblue;
        justify-content: space-between !important;
    }
    #upper-text5{
        margin: 0;
        padding: 5%;
    }
    #demo img{
        position: relative;
        right:10%;
    }
    .last-page{
        margin:10px;
        min-width: 80%;
        }
    div.fifth-page{
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 375px) {
    div#page1-below-nav-bar{
        margin:0;
        padding:0;
        flex-wrap: wrap;
        text-align: center;
    }
    .upper-text{
        margin:0;
        padding: 5%;
    }
    #just-below{
        font-size: larger;
    }
    #third-line{
        font-size: medium;
    }
    header{
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
}